@media (max-width: 767px) {
	 .desktop-fixed {
		 position:relative;
		 width:auto;
		 top: 0;
	 }
}

@media (min-width: 768px) {
	.desktop-fixed {
		position: fixed;
	}
}

body {
	padding-bottom: 400px;
}
